.grid {
		height: 400px;
		width: 600px;
		padding-top: 100px;

		margin: auto;

		display: grid;
		grid-gap: 10px 10px;
		grid-template-columns: 340px 250px;
		grid-template-rows: 0.75fr 1fr 1fr;
		grid-template-areas: "a b"
												 "a c"
												 "a c";
}

.grid div {
	background-color: #2286f4;
}

#welcome {
	grid-area: a;
}

#welcome img {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#welcome p {
	text-align: center;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

#login {
	grid-area: b;
}

#register {
	grid-area: c;
}
